<nav class="nav">
  <div class="nav-left">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/listings">Listings</a>
    <a href="/users">Users</a>
  </div>

  <div class="nav-right">
    <% if (!user) { %>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    <% } else { %>
      <span class="nav-user">
        You are logged in
      </span>

      <form action="/logout" method="POST" class="logout-form">
        <button type="submit">Logout</button>
      </form>
    <% } %>
  </div>
</nav>