<h1>Listings</h1>

<% if (user) { %>
  <a href="/listings/new" class="create-btn">
    + Create Listing
  </a>
<% } %>

<ul class="listing-list">
  <% listings.forEach(listing => { %>
    <li class="listing-card">
      <h2><%= listing.title %></h2>
      <p><%= listing.description %></p>
      <p>$<%= listing.price %></p>

      <a href="/listings/<%= listing._id %>" class="view-btn">
        View More
      </a>
    </li>
  <% }) %>
</ul>