<h1>Signup</h1>

<form action="http://localhost:5000/auth/signup" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <input name="phone_number" placeholder="Phone" required />
  <input type="password" name="password" placeholder="Password" required />

  <button type="submit">Create Account</button>
</form>